[Unit]
Description=Prometheus exporter for podman (v3) machine
[Service]
Restart=on-failure
EnvironmentFile=/etc/default/prometheus-podman3-exporter
ExecStart=/usr/bin/prometheus-podman3-exporter $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
[Install]
WantedBy=multi-user.target
